<a href="https://colab.research.google.com/github/Josephine-Analytics/Machine-Learning/blob/main/Linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In exercise folder hiring.csv. The data contains hiring statics for a firm such as experience of candidate, his written test score and personal interview score. Based on these 3 factors, HR will decide the salary. Given this data, you need to build a machine learning model for HR department that can help them decide salaries for future candidates. Using this predict salaries for following candidates, 2 yr experience, 9 test score, 6 interview score
12 yr experience, 10 test score, 10 interview score

In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
from sklearn import linear_model
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [33]:
hiring = pd.read_csv('/content/drive/MyDrive/hiring (1).csv')
hiring

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [34]:
#fill NaN with mean

#first convert binary to numeric
hiring['experience'] = hiring['experience'].replace({'five': 5, 'two': 2, 'seven': 7, 'three': 3, 'ten':10, 'eleven': 11 })

# fill NaN with the mean
hiring['experience'] = hiring['experience'].fillna(hiring['experience'].mean())
hiring['experience']

0     6.333333
1     6.333333
2     5.000000
3     2.000000
4     7.000000
5     3.000000
6    10.000000
7    11.000000
Name: experience, dtype: float64

In [35]:
# Fill NaN values in test_score with the median
hiring['test_score(out of 10)'] = hiring['test_score(out of 10)'].fillna(
    hiring['test_score(out of 10)'].median()
)
hiring

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0    6.333333                    8.0                           9      50000
1    6.333333                    8.0                           6      45000
2    5.000000                    6.0                           7      60000
3    2.000000                   10.0                          10      65000
4    7.000000                    9.0                           6      70000
5    3.000000                    7.0                          10      62000
6   10.000000                    8.0                           7      72000
7   11.000000                    7.0                           8      80000

In [36]:
#salary is the dependent variable, the rest are independent variables
reg = linear_model.LinearRegression()
reg.fit(hiring[['experience','test_score(out of 10)','interview_score(out of 10)']],hiring['salary($)'])

# Predict salary for 2 yr experience, 9 test score, 6 interview score
np.round(reg.predict([[2, 9, 6]]),2)

array([47775.9])

In [37]:
 #Predict salary for 12 yr experience, 10 test score, 10 interview score

 np.round(reg.predict([[12, 10, 10]]),2)

array([86387.53])

In [38]:
reg.score(hiring[['experience','test_score(out of 10)','interview_score(out of 10)']], hiring['salary($)'])

0.3442209070116319